{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h1>Scorecard for {{ round.course.name }}</h1>
        <p class="lead">
            Player: <a href="{% url 'scoring:player_profile' round.user.username %}"
    class="text-decoration-none">{{ round.user.first_name }}</a>
            | Date: {{ round.date }}
        </p>
        <table class="table table-striped table-bordered shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th>Hole</th>
                    <th>Par</th>
                    <th>Strokes</th>
                </tr>
            </thead>
            <tbody>
                {% for score in round.scores.all %}
                    <tr>
                        <td>{{ score.hole.hole_number }}</td>
                        <td>{{ score.hole.par }}</td>
                        <td>{{ score.strokes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-light fw-bold">
                <tr>
                    <td>TOTAL</td>
                    <td>{{ round.total_par }}</td>
                    <td>{{ total }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
